[Desktop Entry]
Categories=Network
Exec=flatpak run org.mozilla.firefox --class=wah-O4l4NCBz --name=wah-O4l4NCBz --profile=/home/omar/.var/app/org.mozilla.firefox/data/web-app-hub/profiles/O4l4NCBz --no-remote https://chat.deepseek.com/
Icon=/home/omar/.var/app/org.pvermeer.WebAppHub/data/web-app-hub/icons/O4l4NCBz.png
Name=DeepSeek
StartupWMClass=wah-O4l4NCBz
Terminal=false
Type=Application
Version=1.0
X-MultipleArgs=false
X-WAH=true
X-WAH-BROWSER-ID=org.mozilla.firefox_firefox
X-WAH-ID=O4l4NCBz
X-WAH-ISOLATE=true
X-WAH-MAXIMIZE=false
X-WAH-PROFILE=/home/omar/.var/app/org.mozilla.firefox/data/web-app-hub/profiles/O4l4NCBz
X-WAH-URL=https://chat.deepseek.com/
X-WAH-VERSION=1.2.0

