[Desktop Entry]
Categories=Network
Exec=flatpak run org.mozilla.firefox --class=wah-QBacaW7k --name=wah-QBacaW7k --profile=/home/omar/.var/app/org.mozilla.firefox/data/web-app-hub/profiles/QBacaW7k --no-remote https://chat.qwen.ai
Icon=/home/omar/.var/app/org.pvermeer.WebAppHub/data/web-app-hub/icons/QBacaW7k.png
Name=Qwen
StartupWMClass=wah-QBacaW7k
Terminal=false
Type=Application
Version=1.0
X-MultipleArgs=false
X-WAH=true
X-WAH-BROWSER-ID=org.mozilla.firefox_firefox
X-WAH-ID=QBacaW7k
X-WAH-ISOLATE=true
X-WAH-MAXIMIZE=false
X-WAH-PROFILE=/home/omar/.var/app/org.mozilla.firefox/data/web-app-hub/profiles/QBacaW7k
X-WAH-URL=https://chat.qwen.ai
X-WAH-VERSION=1.2.0

