[Desktop Entry]
Type=Application
Name=VIA
Comment=Yet another keyboard configurator
Icon=/home/omar/AppImages/.icons/via
TryExec=/home/omar/AppImages/via.appimage
Exec=env DESKTOPINTEGRATION=1 /home/omar/AppImages/via.appimage --no-sandbox %U
Terminal=false
Categories=Development;
StartupWMClass=VIA
X-AppImage-Version=3.0.0
X-AppImage-Name=VIA
